.Alice{
    background-color: #F0F8FF;
}

.dark{
    background-color: black;
    color: white;
}

.navbar-custom{
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    margin: 30px 30px;
}

@media (max-width: 768px){
    .navbar-custom{
        margin: 10px 0px;
    }
}

.navbar-nav-center{
    margin: 0 auto;
}

.form-inline {
    display: flex;
    gap: 10px;
}

.btn-spacing {
margin-left: 10px;
}


/* navbar a section */

.navbar .nav-link{
    cursor: pointer;
    color: black;
}
.navbar .nav-link:hover{
    text-decoration: underline;
    text-decoration-color: rgb(255, 21, 0);
    text-underline-offset: 10px;
    color: rgb(255, 51, 0);
}
.dark .navbar-nav a{
    color: white;
}

/* dark/light button color */

#btn{
    border: solid 1px black;
}

.dark #btn{
    color: white;
    border: solid 1px white;
}
#logo_img{
    max-height: 100px;
}
/* Overlay text styling */
.overlay-text {
    max-width: 80%;
    background: rgba(0, 0, 0, 0.4); /* Transparent black for readability */
    border-radius: 10px;
}

/* Desktop view */
.overlay-text h1 {
    font-size: 2.5rem;
}
.overlay-text p {
    font-size: 1.2rem;
}

/* Tablet view */
@media (max-width: 992px) {
    .overlay-text h1 {
        font-size: 2rem;
    }
    .overlay-text p {
        font-size: 1rem;
        margin-bottom: 2px;
    }
}

/* Mobile view */
@media (max-width: 576px) {
    .overlay-text {
        padding: 15px;
        max-width: 95%;
    }
    .overlay-text h1 {
        font-size: 1.5rem;
    }
    .overlay-text p {
        font-size: 0.9rem;
        margin-bottom: 2px;
    }
    .overlay-text button {
        font-size: 0.85rem;
        padding: 6px 12px;
    }
}


.border{
    border: none;
}