body{
    background-color: #F0FFF0;
    
}
.navbar-custom{
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    margin: 30px 30px;
}

@media (max-width: 768px){
    .navbar-custom{
        margin: 10px 0px;
    }
}

.navbar-nav-center{
    margin: 0 auto;
}

.form-inline {
    display: flex;
    gap: 10px;
}

.btn-spacing {
margin-left: 10px;
}

.navbar .nav-link{
    cursor: pointer;
    color: black;
}
.navbar .nav-link:hover{
    text-decoration: underline;
    text-decoration-color: rgb(255, 21, 0);
    text-underline-offset: 10px;
    color: rgb(255, 51, 0);
}
