.profile-Update{
    padding: 20px 20px;
}
.image{
    width: 310px;
}
#inputImage{
    margin: 5px 5px;
    width: 24%;
}

@media (max-width: 768px){
    .profile-Update{
        padding: 15px 15px 15px 15px;
    }
    #inputImage{
        margin: 5px 5px;
        width: 100%;
    }
}