.gradient-customs {
    background-color: #DFF6FF;
}
input#typeX{
    border-color: #80ffb3;
}

button.button{
    background-color: #0066FF;
    color: white;
}

button.button:hover{
    color: #004C99;
    border: solid #004C99 1px;
}