{% extends "base.html" %} {% block title %} Category {% endblock title %} 
{% block categoryactive %} active {% endblock categoryactive %} {% load static %}
{% block start %}

<div class="container">
    <nav class="navbar navbar-expand-lg rounded" id="categori">
        <div class="container-fluid">
            <ul class="navbar-nav">
                {% for i in category %}
                <li class="nav-item">
                    <a href="{% url 'category-blog' i.id %}" class="nav-link {% if active_category and active_category.id == i.id %} fw-bold text-primary{% endif %}">{{i.category_name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
        <div class="row m-2 p-2 border rounded">
            {% for i in blogs %}
            <div class="col-md-4">
                <div class="card bg-dark" style="width: 18rem">
                    <img src="{{i.image.url}}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title text-white">{{i.title}}</h5>
                        <p class="card-text text-white">{{i.heading}}</p>
                        <p class="card-text text-white mb-auto">
                            {{i.content | truncatechars:150}}
                        </p>
                        <a href="/bloghome/{{i.new_slug}}" class="icon-link gap-1 icon-link-hover stretched-link">Continue reading</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
  
</div>

{% endblock %}