{% extends "base.html" %}

{% block title %} Create-blog {% endblock title %}
{% block create-blogactive %} active {% endblock create-blogactive %}

{% load static %}

{% block start %}

<div class="container mt-5">
    <div class="row">
        <div class="p-3 bg-secondary col-md-8 offset-md-2">
            <div class="card_blog card">
                <div class="card-header">
                    <h3 class="text-center header"> Create Blog </h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="/create_blog/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <div class="form-control border-0 text-center">
                            <button type="submit" class="btn btn-primary">Create Blog</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}