{% extends "base.html" %}

{% block title %} Signup Page {% endblock title %}

{% load static %}

{% block start %}

<div class="container">
    <section class="vh-120 gradient-customs">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-info-subtle text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <form method="post" action="/signup/">
                                {% csrf_token %}
                                <div class="mb-md-5 mt-md-4 pb-4">
                                    <h2 class="fw-bold mb-2 text-uppercase text-black">Sign up</h2>
                                    <p class="text-black mb-5">Create Your Account!</p>

                                    <div data-mdb-input-init class="form-outline form-white mb-4">
                                        <input type="text" id="typeX" class="form-control form-control-lg" name="username" placeholder="Username"/>
                                    </div>

                                    <div data-mdb-input-init class="form-outline form-white mb-4">
                                        <input type="tel" id="typeX" class="form-control form-control-lg" name="phone" placeholder="Phone No"/>
                                    </div>
                    
                                    <div data-mdb-input-init class="form-outline form-white mb-4">
                                        <input type="email" id="typeX" class="form-control form-control-lg" name="email" placeholder="Email"/>
                                    </div>
                    
                                    <div data-mdb-input-init class="form-outline form-white mb-4">
                                        <input type="password" id="typeX" class="form-control form-control-lg" name="password" placeholder="Password"/>
                                    </div>
                    
                    
                                    <button data-mdb-button-init data-mdb-ripple-init class="btn button btn-lg px-5 mt-2" type="submit">Signin</button>
                                </div>
                            </form>
                        <div>
                            <p class="mb-0 text-dark">Do you have an account ?<a href="/signin" class="text-primary-emphasis fw-bold">log in</a></p>
                        </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}