{% extends "base.html" %}

{% load static %}

{% block start %}

<div class="container">
    <section class="vh-120 gradient-customs">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-info-subtle text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
            
                            <div class="mb-md-5 mt-md-4 pb-4">
                
                                <h2 class="fw-bold mb-2 text-uppercase text-black">Sign up</h2>
                                <p class="text-black mb-5">Create Your Account!</p>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="text" id="typeX" class="form-control form-control-lg" placeholder="Username"/>
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="tel" id="typeX" class="form-control form-control-lg" placeholder="Phone No"/>
                                </div>
                
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="email" id="typeX" class="form-control form-control-lg" placeholder="Email"/>
                                </div>
                
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="password" id="typeX" class="form-control form-control-lg" placeholder="Password"/>
                                </div>
                
                
                                <button data-mdb-button-init data-mdb-ripple-init class="btn button btn-lg px-5 mt-2" type="submit">Signin</button>
                
                                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                </div>
                
                            </div>
            
                        <div>
                            <p class="mb-0 text-dark">Do you have an account ?<a href="/signin" class="text-primary-emphasis fw-bold">log in</a></p>
                        </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}